*{
   margin:0;
}
nav{
  background-color: rgba(0, 0, 0, 0.856);
  
   display: flex;
   justify-content: space-around;
  top: 4px;
   align-items: center;
   color: white;
}

ul{
   display: flex;
   list-style: none;
}
li{
   padding: 25px ;
   font-size: large;
   
}
.logo{
   height: 70px;
}
li a{
   padding: 10px 30px;
   border: 1px solid gray;
   text-decoration: none;
   color: white;
   margin-left: 50px;
   border-radius: 5pc;
   background-color: red;
}
  
 li a:hover{
   text-decoration: none;
   color: black;
   background-color: white;
}
.menu{   
   position:absolute;
   right: 10px;
   top: 18px;
   display: none;
    cursor: pointer;
}
.menu-item{
   height: 3px;
   margin-bottom: 5px;
   border-radius: 4px;
   width: 25px;
  
   background-color: white;
}
.downloadpropsal{
   padding: 30px 40px;
   justify-content: space-around;
   background-color: rgba(0, 0, 0, 0.856);
   color: white;
   font-size: larger;
}
.downloadpropsal div{
   display: flex;
   justify-content: space-between;
}
.downloadpropsal div button{
   padding: 10px 30px;
   border-radius: 8pc;
   background-color: red;
   cursor: pointer;
   color: white;
   }
   .downloadpropsal div span{
      font-size: x-large;
   }
   .downloadpropsal div button:hover{
      text-decoration: none;
      color: black;
      background-color: white;
   }
.aboutNAOWA{
   text-align: center;
   padding:80px;
   margin: 0 150px;
}
.aboutNAOWA button{
   padding: 10px 20px;
   border-radius: 6pc;
   background-color: red;
   border: 1px solid gray;
   color: white;
}

   .AboutThePresident{
      display: flex;
      align-items: center;
      font-size: large;
      padding: 40px;
   }
   .aboutmama button{
      padding: 10px 30px;
      border-radius: 8pc;
      background-color: red;
      cursor: pointer;
      color: white;
   }
   footer{
      color: whitesmoke;
      background-color: black;
      height: 10vh;
      align-items:center;
      justify-content: center;
      display: flex;
   }

   @media screen and (max-width:1200px) {
      nav{
         justify-content: flex-start;
         flex-direction: column;
      }
      ul{
     display: none;
     
      }
      li{
         padding: 20px ;
         font-size: large;
      }
     
      .aboutNAOWA{
         padding: auto;
         margin: 0;
      }
      .menu{
         display: block;
      }
      .logodiv{
      margin-right:550px ;
      }
      li a{
         margin-left: 0px;
      }
      .active{
         display: block;
      }
  
}

@media screen and (max-width:500px) {
 h1{
   font-size:20px;
 }   .logodiv{
   margin-right:340px ;
   }
   ul{
      /* display: none; */
   }
   li a{
      margin-left: 0px;
   }
   li{
      padding: 20px ;
      font-size: large;
   }
   .logo{
      height: 70px;
   }
   .aboutNAOWA{
      padding: 30px 8px;
      margin: 0;
   }
   .AboutThePresident
   {
      display: block;
      padding: 30px 8px;
      margin: 0;
      font-size: medium;
      text-align: center;
}
.active{
   display: block;
}
.downloadpropsal div {
   text-align: center;
   padding: 10px;
  flex-direction: column;
}
.downloadpropsal div span{
   padding-bottom: 15px;
}
}

/* login */
.loginbody{
   /* background-image: url('../media/image/NAOWA-LOGO.png');
   background-repeat: none;
   background-size: cover; */
}
form{
   height: auto;
   background-color: white;
   text-align: center;
   width: auto;
   margin-top: 100px;
   margin-bottom: 50px;
   padding: 30px;
   border-radius: 5px;
   border: 1px solid red;

}
h1, h2, h3, h4{
   margin-bottom: 10px;
}
   .loginsection{
      display: flex;
      justify-content: center;
      align-items: center;
   }
.loginbtn  {
      background-color:red;
      color:white;
      border-radius:8px;
      border:1px solid red;
      padding:7px;
      text-align:center;
      width: 408px;
     
   }
   .forgot{
      text-align: right;
      display: block;
      margin-bottom:10px ;
   }
   .jg{
      margin-bottom: 30px;
   }
   .inputfield{
      border-radius:8px;
      border:1px solid red;
       padding:7px;
       width: 390px;
       margin-bottom:30px ;
   }
   a{
      text-decoration: none;
   }
  